################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PollingConsumerTests/obj/project.nuget.cache
/PollingConsumerTests/obj/project.assets.json
/PollingConsumerTests/obj/PollingConsumerTests.fsproj.nuget.g.targets
/PollingConsumerTests/obj/PollingConsumerTests.fsproj.nuget.g.props
/PollingConsumerTests/obj/PollingConsumerTests.fsproj.nuget.dgspec.json
/PollingConsumerTests/obj/PollingConsumerTests.fsproj.nuget.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.pdb
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.fsprojAssemblyReference.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.fsproj.FileListAbsolute.txt
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.fsproj.CoreCompileInputs.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.dll
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.assets.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.AssemblyInfoInputs.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.AssemblyInfo.fs
/PollingConsumerTests/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.fs
/PollingConsumerTests/bin/Debug/netstandard2.0/PollingConsumerTests.pdb
/PollingConsumerTests/bin/Debug/netstandard2.0/PollingConsumerTests.dll
/PollingConsumerTests/bin/Debug/netstandard2.0/PollingConsumerTests.deps.json
/PollingConsumer/obj/project.nuget.cache
/PollingConsumer/obj/project.assets.json
/PollingConsumer/obj/PollingConsumer.fsproj.nuget.g.targets
/PollingConsumer/obj/PollingConsumer.fsproj.nuget.g.props
/PollingConsumer/obj/PollingConsumer.fsproj.nuget.dgspec.json
/PollingConsumer/obj/PollingConsumer.fsproj.nuget.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.pdb
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.fsprojAssemblyReference.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.fsproj.FileListAbsolute.txt
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.fsproj.CoreCompileInputs.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.dll
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.assets.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.AssemblyInfoInputs.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.AssemblyInfo.fs
/PollingConsumer/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.fs
/PollingConsumer/bin/Debug/netstandard2.0/PollingConsumer.pdb
/PollingConsumer/bin/Debug/netstandard2.0/PollingConsumer.dll
/PollingConsumer/bin/Debug/netstandard2.0/PollingConsumer.deps.json
/.vs/PollingConsumer/v16/.suo
/.vs/PollingConsumer/v15/.suo
/.vs/PollingConsumer/DesignTimeBuild/.dtbcache
