################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PollingConsumerTests/obj/project.nuget.cache
