################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PollingConsumerTests/obj/project.nuget.cache
/PollingConsumerTests/obj/project.assets.json
/PollingConsumerTests/obj/PollingConsumerTests.fsproj.nuget.g.targets
/PollingConsumerTests/obj/PollingConsumerTests.fsproj.nuget.g.props
/PollingConsumerTests/obj/PollingConsumerTests.fsproj.nuget.dgspec.json
/PollingConsumerTests/obj/PollingConsumerTests.fsproj.nuget.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.pdb
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.fsprojAssemblyReference.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.fsproj.FileListAbsolute.txt
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.fsproj.CoreCompileInputs.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.dll
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.assets.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.AssemblyInfoInputs.cache
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.AssemblyInfo.fs
/PollingConsumerTests/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.fs
/PollingConsumerTests/bin/Debug/netstandard2.0/PollingConsumerTests.pdb
/PollingConsumerTests/bin/Debug/netstandard2.0/PollingConsumerTests.dll
/PollingConsumerTests/bin/Debug/netstandard2.0/PollingConsumerTests.deps.json
/PollingConsumer/obj/project.nuget.cache
/PollingConsumer/obj/project.assets.json
/PollingConsumer/obj/PollingConsumer.fsproj.nuget.g.targets
/PollingConsumer/obj/PollingConsumer.fsproj.nuget.g.props
/PollingConsumer/obj/PollingConsumer.fsproj.nuget.dgspec.json
/PollingConsumer/obj/PollingConsumer.fsproj.nuget.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.pdb
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.fsprojAssemblyReference.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.fsproj.FileListAbsolute.txt
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.fsproj.CoreCompileInputs.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.dll
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.assets.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.AssemblyInfoInputs.cache
/PollingConsumer/obj/Debug/netstandard2.0/PollingConsumer.AssemblyInfo.fs
/PollingConsumer/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.fs
/PollingConsumer/bin/Debug/netstandard2.0/PollingConsumer.pdb
/PollingConsumer/bin/Debug/netstandard2.0/PollingConsumer.dll
/PollingConsumer/bin/Debug/netstandard2.0/PollingConsumer.deps.json
/.vs/PollingConsumer/v16/.suo
/.vs/PollingConsumer/v15/.suo
/.vs/PollingConsumer/DesignTimeBuild/.dtbcache
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.pdb
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.fsprojAssemblyReference.cache
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.fsproj.FileListAbsolute.txt
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.fsproj.CoreCompileInputs.cache
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.fsproj.CopyComplete
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.dll
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.assets.cache
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.AssemblyInfoInputs.cache
/PollingConsumerTests/obj/x64/Debug/net48/PollingConsumerTests.AssemblyInfo.fs
/PollingConsumerTests/obj/x64/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.fs
/PollingConsumerTests/obj/Debug/netstandard2.0/PollingConsumerTests.fsproj.CopyComplete
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.pdb
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.fsprojAssemblyReference.cache
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.fsproj.FileListAbsolute.txt
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.fsproj.CoreCompileInputs.cache
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.fsproj.CopyComplete
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.dll
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.assets.cache
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.AssemblyInfoInputs.cache
/PollingConsumerTests/obj/Debug/net48/PollingConsumerTests.AssemblyInfo.fs
/PollingConsumerTests/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.fs
/PollingConsumerTests/bin/x64/Debug/net48/zh-Hant/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/zh-Hans/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/xunit.runner.visualstudio.testadapter.dll
/PollingConsumerTests/bin/x64/Debug/net48/xunit.runner.utility.net452.dll
/PollingConsumerTests/bin/x64/Debug/net48/xunit.runner.reporters.net452.dll
/PollingConsumerTests/bin/x64/Debug/net48/xunit.execution.desktop.dll
/PollingConsumerTests/bin/x64/Debug/net48/xunit.core.dll
/PollingConsumerTests/bin/x64/Debug/net48/xunit.abstractions.dll
/PollingConsumerTests/bin/x64/Debug/net48/Unquote.dll
/PollingConsumerTests/bin/x64/Debug/net48/tr/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/ru/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/pt-BR/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/PollingConsumerTests.pdb
/PollingConsumerTests/bin/x64/Debug/net48/PollingConsumerTests.dll.config
/PollingConsumerTests/bin/x64/Debug/net48/PollingConsumerTests.dll
/PollingConsumerTests/bin/x64/Debug/net48/PollingConsumer.pdb
/PollingConsumerTests/bin/x64/Debug/net48/PollingConsumer.dll
/PollingConsumerTests/bin/x64/Debug/net48/pl/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/ko/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/ja/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/it/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/FSharp.Core.dll
/PollingConsumerTests/bin/x64/Debug/net48/FsCheck.Xunit.dll
/PollingConsumerTests/bin/x64/Debug/net48/FsCheck.dll
/PollingConsumerTests/bin/x64/Debug/net48/fr/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/es/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/de/FSharp.Core.resources.dll
/PollingConsumerTests/bin/x64/Debug/net48/cs/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/netstandard2.0/xunit.runner.visualstudio.testadapter.dll
/PollingConsumerTests/bin/Debug/netstandard2.0/xunit.runner.utility.net452.dll
/PollingConsumerTests/bin/Debug/netstandard2.0/xunit.runner.reporters.net452.dll
/PollingConsumerTests/bin/Debug/netstandard2.0/xunit.abstractions.dll
/PollingConsumerTests/bin/Debug/netstandard2.0/PollingConsumer.pdb
/PollingConsumerTests/bin/Debug/netstandard2.0/PollingConsumer.dll
/PollingConsumerTests/bin/Debug/net48/zh-Hant/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/zh-Hans/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/xunit.runner.visualstudio.testadapter.dll
/PollingConsumerTests/bin/Debug/net48/xunit.runner.utility.net452.dll
/PollingConsumerTests/bin/Debug/net48/xunit.runner.reporters.net452.dll
/PollingConsumerTests/bin/Debug/net48/xunit.execution.desktop.dll
/PollingConsumerTests/bin/Debug/net48/xunit.core.dll
/PollingConsumerTests/bin/Debug/net48/xunit.abstractions.dll
/PollingConsumerTests/bin/Debug/net48/Unquote.dll
/PollingConsumerTests/bin/Debug/net48/tr/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/ru/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/pt-BR/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/PollingConsumerTests.pdb
/PollingConsumerTests/bin/Debug/net48/PollingConsumerTests.dll
/PollingConsumerTests/bin/Debug/net48/PollingConsumer.pdb
/PollingConsumerTests/bin/Debug/net48/PollingConsumer.dll
/PollingConsumerTests/bin/Debug/net48/pl/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/ko/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/ja/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/it/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/FSharp.Core.dll
/PollingConsumerTests/bin/Debug/net48/FsCheck.Xunit.dll
/PollingConsumerTests/bin/Debug/net48/FsCheck.dll
/PollingConsumerTests/bin/Debug/net48/fr/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/es/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/de/FSharp.Core.resources.dll
/PollingConsumerTests/bin/Debug/net48/cs/FSharp.Core.resources.dll
/PollingConsumer.sln.DotSettings.user
/PollingConsumer/obj/x64/Debug/net48/PollingConsumer.pdb
/PollingConsumer/obj/x64/Debug/net48/PollingConsumer.fsproj.FileListAbsolute.txt
/PollingConsumer/obj/x64/Debug/net48/PollingConsumer.fsproj.CoreCompileInputs.cache
/PollingConsumer/obj/x64/Debug/net48/PollingConsumer.fsproj.CopyComplete
/PollingConsumer/obj/x64/Debug/net48/PollingConsumer.dll
/PollingConsumer/obj/x64/Debug/net48/PollingConsumer.assets.cache
/PollingConsumer/obj/x64/Debug/net48/PollingConsumer.AssemblyInfoInputs.cache
/PollingConsumer/obj/x64/Debug/net48/PollingConsumer.AssemblyInfo.fs
/PollingConsumer/obj/x64/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.fs
/PollingConsumer/obj/Debug/net48/PollingConsumer.pdb
/PollingConsumer/obj/Debug/net48/PollingConsumer.fsproj.FileListAbsolute.txt
/PollingConsumer/obj/Debug/net48/PollingConsumer.fsproj.CoreCompileInputs.cache
/PollingConsumer/obj/Debug/net48/PollingConsumer.fsproj.CopyComplete
/PollingConsumer/obj/Debug/net48/PollingConsumer.dll
/PollingConsumer/obj/Debug/net48/PollingConsumer.assets.cache
/PollingConsumer/obj/Debug/net48/PollingConsumer.AssemblyInfoInputs.cache
/PollingConsumer/obj/Debug/net48/PollingConsumer.AssemblyInfo.fs
/PollingConsumer/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.fs
/PollingConsumer/bin/x64/Debug/net48/zh-Hant/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/zh-Hans/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/tr/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/ru/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/pt-BR/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/PollingConsumer.pdb
/PollingConsumer/bin/x64/Debug/net48/PollingConsumer.dll
/PollingConsumer/bin/x64/Debug/net48/pl/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/ko/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/ja/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/it/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/FSharp.Core.dll
/PollingConsumer/bin/x64/Debug/net48/fr/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/es/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/de/FSharp.Core.resources.dll
/PollingConsumer/bin/x64/Debug/net48/cs/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/zh-Hant/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/zh-Hans/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/tr/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/ru/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/pt-BR/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/PollingConsumer.pdb
/PollingConsumer/bin/Debug/net48/PollingConsumer.dll
/PollingConsumer/bin/Debug/net48/pl/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/ko/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/ja/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/it/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/FSharp.Core.dll
/PollingConsumer/bin/Debug/net48/fr/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/es/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/de/FSharp.Core.resources.dll
/PollingConsumer/bin/Debug/net48/cs/FSharp.Core.resources.dll
/.vs/PollingConsumer/v16/TestStore/0/testlog.manifest
/.vs/PollingConsumer/v16/TestStore/0/000.testlog
/.vs/PollingConsumer/DesignTimeBuild/.dtbcache.v2
